.container {
    position: fixed;
    border: 1px solid black;
    left: -100%;
}

.products {
    border: 1px solid rgb(66, 61, 61);
    border-radius: 6px;
    background-color: rgb(77, 100, 119);
    margin: 10px;
    padding: 5px;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.products:active {
    background-color: rgb(46, 65, 80);
}


.link {
    text-decoration: none;
}

.plusIcon {
    color: rgb(46, 65, 80);
    margin-left: 20px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(236, 232, 230);

    transition-property: transform;
    transition-duration: 50ms;
}

.plusIcon:hover {
    transform: scale(1.1);
}

